In [12]:
import sys
import pandas as pd
import pymongo
import json
import os
import pprint
import numpy as np
from pandas.io.json import json_normalize
from sqlalchemy import create_engine

In [37]:
file = 'globalterrorismdb_0718dist.csv'
terror_df = pd.read_csv(file, encoding = "ISO-8859-1")

terror_df.head()

C:\Users\mjone\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (4,6,31,33,61,62,63,76,79,90,92,94,96,114,115,121) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,eventid,iyear,imonth,iday,approxdate,extended,resolution,country,country_txt,region,...,addnotes,scite1,scite2,scite3,dbsource,INT_LOG,INT_IDEO,INT_MISC,INT_ANY,related
0,197000000001,1970,7,2,NaN,0,NaN,58,Dominican Republic,2,...,NaN,NaN,NaN,NaN,PGIS,0,0,0,0,NaN
1,197000000002,1970,0,0,NaN,0,NaN,130,Mexico,1,...,NaN,NaN,NaN,NaN,PGIS,0,1,1,1,NaN
2,197001000001,1970,1,0,NaN,0,NaN,160,Philippines,5,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
3,197001000002,1970,1,0,NaN,0,NaN,78,Greece,8,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
4,197001000003,1970,1,0,NaN,0,NaN,101,Japan,4,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN

In [38]:
heat_df = terror_df[["latitude","longitude","eventid"]]
heat_df.head()

    latitude   longitude       eventid
0  18.456792  -69.951164  197000000001
1  19.371887  -99.086624  197000000002
2  15.478598  120.599741  197001000001
3  37.997490   23.762728  197001000002
4  33.580412  130.396361  197001000003

In [39]:
heat_df.set_index('eventid',inplace=True)
heat_df.head()

               latitude   longitude
eventid
197000000001  18.456792  -69.951164
197000000002  19.371887  -99.086624
197001000001  15.478598  120.599741
197001000002  37.997490   23.762728
197001000003  33.580412  130.396361

In [40]:
zoom_df = terror_df[["region","country_txt","provstate"]]
zoom_df.set_index('country_txt',inplace=True)
zoom_df.head()

                    region provstate
country_txt
Dominican Republic       2       NaN
Mexico                   1   Federal
Philippines              5    Tarlac
Greece                   8    Attica
Japan                    4   Fukouka

In [41]:
bar_df=terror_df.groupby(['natlty1_txt', 'gname', ]).size().unstack(level=1, fill_value=0)
bar_df.head()

gname,Afghan Guerrillas,Afghan Mujahideen,Afghan Rebels,Al-Aqsa Martyrs Brigade,Al-Fatah,Al-Qaida,Al-Qaida in the Islamic Maghreb (AQIM),Crypteia,Gholam Yahya Akbar,Guerrillas,...,Congolese National Movement- Lumumba (MNCL),Supporters Opposition Leader Etienne Tshisekedi,Black Mambas,United Party for National Development (UPND),Dissidents linked to Zanga,Liberation War Veterans Association,Movement for Democratic Change (MDC),National Youth Service of Zimbabwe,South African guerrillas,Supporters of Joshua Nkomo
natlty1_txt,,,,,,,,,,,,,,,,,,,,,
Afghanistan,6,7,1,3,1,17,2,1,1,6,...,0,0,0,0,0,0,0,0,0,0
Albania,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Algeria,0,0,0,0,0,0,172,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Angola,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Antigua and Barbuda,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [42]:
line_df=terror_df.groupby(['iyear', 'country_txt']).size().unstack(level=1, fill_value=0)
line_df.head()

country_txt,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,Austria,...,Vietnam,Wallis and Futuna,West Bank and Gaza Strip,West Germany (FRG),Western Sahara,Yemen,Yugoslavia,Zaire,Zambia,Zimbabwe
iyear,,,,,,,,,,,,,,,,,,,,,
1970,0,0,0,0,0,0,21,0,1,0,...,0,0,0,20,0,0,0,0,0,0
1971,0,0,0,0,0,0,7,0,1,0,...,0,0,0,13,0,0,0,0,1,0
1972,0,0,1,0,0,0,20,0,8,7,...,0,0,1,24,0,0,0,3,0,0
1973,1,0,0,0,0,0,60,0,0,2,...,0,0,0,27,0,0,1,1,1,0
1974,0,0,0,1,0,0,71,0,1,1,...,0,0,0,28,0,0,1,0,0,0

In [56]:
line_df[rate_of_change]=terror_df.groupby(['iyear', 'country_txt']).count().unstack(level=1, fill_value=0)
line_df.head()

                eventid                                                     \
country_txt Afghanistan Albania Algeria Andorra Angola Antigua and Barbuda
iyear
1970                  0       0       0       0      0                   0
1971                  0       0       0       0      0                   0
1972                  0       0       1       0      0                   0
1973                  1       0       0       0      0                   0
1974                  0       0       0       1      0                   0

                                                  ...    related  \
country_txt Argentina Armenia Australia Austria   ...    Vietnam
iyear                                             ...
1970               21       0         1       0   ...          0
1971                7       0         1       0   ...          0
1972               20       0         8       7   ...          0
1973               60       0         0       2   ...          0
1974               71       0         1       1   ...          0

                                                                           \
country_txt Wallis and Futuna West Bank and Gaza Strip West Germany (FRG)
iyear
1970                        0                        0                  1
1971                        0                        0                  0
1972                        0                        0                  0
1973                        0                        0                  0
1974                        0                        0                  0


country_txt Western Sahara Yemen Yugoslavia Zaire Zambia Zimbabwe
iyear
1970                     0     0          0     0      0        0
1971                     0     0          0     0      0        0
1972                     0     0          0     3      0        0
1973                     0     0          0     0      0        0
1974                     0     0          0     0      0        0

[5 rows x 27265 columns]

In [43]:
linear_df=terror_df.groupby(["country_txt", "iyear"]).count()
linear_df.head()
linear_df.to_csv('linear_df.csv')

In [44]:
freq_df = terror_df['country_txt'].value_counts().reset_index()
freq_df.columns = ['country_txt', 'count']
print (freq_df)

                        country_txt  count
0                              Iraq  24636
1                          Pakistan  14368
2                       Afghanistan  12731
3                             India  11960
4                          Colombia   8306
5                       Philippines   6908
6                              Peru   6096
7                       El Salvador   5320
8                    United Kingdom   5235
9                            Turkey   4292
10                          Somalia   4142
11                          Nigeria   3907
12                         Thailand   3849
13                            Yemen   3347
14                            Spain   3249
15                        Sri Lanka   3022
16                    United States   2836
17                          Algeria   2743
18                           France   2693
19                            Egypt   2479
20                          Lebanon   2478
21                            Chile   2365
22                            Libya   2249
23         West Bank and Gaza Strip   2227
24                            Syria   2201
25                           Russia   2194
26                           Israel   2183
27                        Guatemala   2050
28                     South Africa   2016
29                        Nicaragua   1970
..                              ...    ...
175                         Comoros      5
176                  Western Sahara      5
177                         Grenada      5
178                      Montenegro      5
179                          Malawi      5
180                         Bahamas      5
181                         Iceland      4
182  People's Republic of the Congo      4
183                 Solomon Islands      4
184                        Dominica      3
185                          Gambia      3
186                        Barbados      3
187                French Polynesia      3
188                    Turkmenistan      2
189                      Seychelles      2
190                     South Yemen      2
191                         Vanuatu      2
192               Equatorial Guinea      2
193                       Mauritius      2
194             St. Kitts and Nevis      2
195                   International      1
196                Falkland Islands      1
197                    New Hebrides      1
198                    Vatican City      1
199               Wallis and Futuna      1
200                     North Korea      1
201                   South Vietnam      1
202                         Andorra      1
203             Antigua and Barbuda      1
204                       St. Lucia      1

[205 rows x 2 columns]

In [49]:
count = terror_df.groupby(['country_txt']).count() 
print(count)

                          eventid  iyear  imonth   iday  approxdate  extended  \
country_txt
Afghanistan                 12731  12731   12731  12731        1099     12731
Albania                        80     80      80     80           0        80
Algeria                      2743   2743    2743   2743          77      2743
Andorra                         1      1       1      1           0         1
Angola                        499    499     499    499           3       499
Antigua and Barbuda             1      1       1      1           0         1
Argentina                     815    815     815    815           1       815
Armenia                        24     24      24     24           0        24
Australia                     114    114     114    114           0       114
Austria                       115    115     115    115           2       115
Azerbaijan                     49     49      49     49           1        49
Bahamas                         5      5       5      5           0         5
Bahrain                       207    207     207    207           7       207
Bangladesh                   1648   1648    1648   1648          26      1648
Barbados                        3      3       3      3           0         3
Belarus                        13     13      13     13           0        13
Belgium                       154    154     154    154           0       154
Belize                          8      8       8      8           0         8
Benin                           8      8       8      8           0         8
Bhutan                          6      6       6      6           0         6
Bolivia                       314    314     314    314           0       314
Bosnia-Herzegovina            159    159     159    159           2       159
Botswana                       10     10      10     10           0        10
Brazil                        273    273     273    273           1       273
Brunei                          6      6       6      6           0         6
Bulgaria                       52     52      52     52           0        52
Burkina Faso                   52     52      52     52           3        52
Burundi                       613    613     613    613           5       613
Cambodia                      259    259     259    259           0       259
Cameroon                      332    332     332    332          22       332
...                           ...    ...     ...    ...         ...       ...
Syria                        2201   2201    2201   2201         170      2201
Taiwan                         50     50      50     50           0        50
Tajikistan                    188    188     188    188           0       188
Tanzania                       59     59      59     59           4        59
Thailand                     3849   3849    3849   3849          20      3849
Togo                           48     48      48     48           0        48
Trinidad and Tobago            22     22      22     22           1        22
Tunisia                       109    109     109    109           1       109
Turkey                       4292   4292    4292   4292          90      4292
Turkmenistan                    2      2       2      2           0         2
Uganda                        394    394     394    394           4       394
Ukraine                      1709   1709    1709   1709         211      1709
United Arab Emirates           22     22      22     22           0        22
United Kingdom               5235   5235    5235   5235          16      5235
United States                2836   2836    2836   2836          37      2836
Uruguay                        82     82      82     82           0        82
Uzbekistan                     21     21      21     21           0        21
Vanuatu                         2      2       2      2           0         2
Vatican City                    1      1       1      1           0         1
Venezuela                     293    293     293    293           2       293
Vietnam                        12     12      12     12           0        12
Wallis and Futuna               1      1       1      1           0         1
West Bank and Gaza Strip     2227   2227    2227   2227          30      2227
West Germany (FRG)            541    541     541    541           0       541
Western Sahara                  5      5       5      5           0         5
Yemen                        3347   3347    3347   3347         590      3347
Yugoslavia                    203    203     203    203           0       203
Zaire                          50     50      50     50           0        50
Zambia                         62     62      62     62           0        62
Zimbabwe                      101    101     101    101           2       101

                          resolution  country  region  region_txt   ...     \
country_txt                                                         ...
Afghanistan                      102    12731   12731       12731   ...
Albania                            0       80      80          80   ...
Algeria                           53     2743    2743        2743   ...
Andorra                            0        1       1           1   ...
Angola                             7      499     499         499   ...
Antigua and Barbuda                0        1       1           1   ...
Argentina                         39      815     815         815   ...
Armenia                            1       24      24          24   ...
Australia                          1      114     114         114   ...
Austria                            3      115     115         115   ...
Azerbaijan                         1       49      49          49   ...
Bahamas                            0        5       5           5   ...
Bahrain                            0      207     207         207   ...
Bangladesh                        12     1648    1648        1648   ...
Barbados                           0        3       3           3   ...
Belarus                            0       13      13          13   ...
Belgium                            3      154     154         154   ...
Belize                             3        8       8           8   ...
Benin                              0        8       8           8   ...
Bhutan                             0        6       6           6   ...
Bolivia                            5      314     314         314   ...
Bosnia-Herzegovina                 0      159     159         159   ...
Botswana                           0       10      10          10   ...
Brazil                            20      273     273         273   ...
Brunei                             0        6       6           6   ...
Bulgaria                           1       52      52          52   ...
Burkina Faso                       0       52      52          52   ...
Burundi                            3      613     613         613   ...
Cambodia                          11      259     259         259   ...
Cameroon                           2      332     332         332   ...
...                              ...      ...     ...         ...   ...
Syria                              3     2201    2201        2201   ...
Taiwan                             1       50      50          50   ...
Tajikistan                         7      188     188         188   ...
Tanzania                           1       59      59          59   ...
Thailand                          13     3849    3849        3849   ...
Togo                               0       48      48          48   ...
Trinidad and Tobago                0       22      22          22   ...
Tunisia                            2      109     109         109   ...
Turkey                            32     4292    4292        4292   ...
Turkmenistan                       0        2       2           2   ...
Uganda                             4      394     394         394   ...
Ukraine                            1     1709    1709        1709   ...
United Arab Emirates               1       22      22          22   ...
United Kingdom                    13     5235    5235        5235   ...
United States                     12     2836    2836        2836   ...
Uruguay                            6       82      82          82   ...
Uzbekistan                         1       21      21          21   ...
Vanuatu                            0        2       2           2   ...
Vatican City                       0        1       1           1   ...
Venezuela                         20      293     293         293   ...
Vietnam                            0       12      12          12   ...
Wallis and Futuna                  0        1       1           1   ...
West Bank and Gaza Strip          31     2227    2227        2227   ...
West Germany (FRG)                 4      541     541         541   ...
Western Sahara                     1        5       5           5   ...
Yemen                             38     3347    3347        3347   ...
Yugoslavia                         3      203     203         203   ...
Zaire                              0       50      50          50   ...
Zambia                             0       62      62          62   ...
Zimbabwe                           1      101     101         101   ...

                          addnotes  scite1  scite2  scite3  dbsource  INT_LOG  \
country_txt
Afghanistan                   3294   12607    8459    4571     12731    12731
Albania                          8      25      14      10        80       80
Algeria                        737    1609     825     363      2743     2743
Andorra                          0       0       0       0         1        1
Angola                          33     133      54      24       499      499
Antigua and Barbuda              0       0       0       0         1        1
Argentina                        6      30      25      13       815      815
Armenia                          6      15      11       7        24       24
Australia                       12      58      44      24       114      114
Austria                          2      24      20      10       115      115
Azerbaijan                       5      19      13       5        49       49
Bahamas                          0       1       1       0         5        5
Bahrain                         13     168     122      88       207      207
Bangladesh                     205    1093     573     263      1648     1648
Barbados                         0       0       0       0         3        3
Belarus                          3      10       7       5        13       13
Belgium                          8      33      25      22       154      154
Belize                           1       2       2       2         8        8
Benin                            0       1       0       0         8        8
Bhutan                           1       6       4       3         6        6
Bolivia                          2       9       7       4       314      314
Bosnia-Herzegovina              10      47      30      16       159      159
Botswana                         0       0       0       0        10       10
Brazil                           7      31      15       9       273      273
Brunei                           0       5       5       4         6        6
Bulgaria                         5      20      15       8        52       52
Burkina Faso                    15      49      41      28        52       52
Burundi                        113     391     239     130       613      613
Cambodia                        12      35      21      14       259      259
Cameroon                       106     314     231     148       332      332
...                            ...     ...     ...     ...       ...      ...
Syria                          944    2056    1669    1228      2201     2201
Taiwan                           3      10       9       8        50       50
Tajikistan                       8      44      31      20       188      188
Tanzania                        13      53      42      29        59       59
Thailand                       770    3627    2755    1524      3849     3849
Togo                             1       1       1       1        48       48
Trinidad and Tobago              1       7       4       0        22       22
Tunisia                         31      97      82      67       109      109
Turkey                         500    1935    1377     846      4292     4292
Turkmenistan                     0       2       2       1         2        2
Uganda                          79     221     128      68       394      394
Ukraine                        399    1689     888     407      1709     1709
United Arab Emirates             0       5       4       3        22       22
United Kingdom                 189    1207     959     620      5235     5235
United States                 1238    1783    1617    1186      2836     2836
Uruguay                          1       8       1       1        82       82
Uzbekistan                       7      18      15      13        21       21
Vanuatu                          0       0       0       0         2        2
Vatican City                     0       0       0       0         1        1
Venezuela                       18      62      43      23       293      293
Vietnam                          0       6       6       6        12       12
Wallis and Futuna                0       0       0       0         1        1
West Bank and Gaza Strip       291    1309     982     638      2227     2227
West Germany (FRG)               0       0       0       0       541      541
Western Sahara                   1       1       1       0         5        5
Yemen                          769    3264    1900    1141      3347     3347
Yugoslavia                      23     106      60      21       203      203
Zaire                            0       3       3       3        50       50
Zambia                          15      18       8       6        62       62
Zimbabwe                         6      29      24      13       101      101

                          INT_IDEO  INT_MISC  INT_ANY  related
country_txt
Afghanistan                  12731     12731    12731     1662
Albania                         80        80       80        6
Algeria                       2743      2743     2743      144
Andorra                          1         1        1        0
Angola                         499       499      499      170
Antigua and Barbuda              1         1        1        0
Argentina                      815       815      815       33
Armenia                         24        24       24        2
Australia                      114       114      114       15
Austria                        115       115      115        5
Azerbaijan                      49        49       49        0
Bahamas                          5         5        5        0
Bahrain                        207       207      207       16
Bangladesh                    1648      1648     1648      323
Barbados                         3         3        3        0
Belarus                         13        13       13        0
Belgium                        154       154      154       13
Belize                           8         8        8        0
Benin                            8         8        8        0
Bhutan                           6         6        6        0
Bolivia                        314       314      314       39
Bosnia-Herzegovina             159       159      159       22
Botswana                        10        10       10        0
Brazil                         273       273      273       11
Brunei                           6         6        6        5
Bulgaria                        52        52       52        2
Burkina Faso                    52        52       52       13
Burundi                        613       613      613      117
Cambodia                       259       259      259       65
Cameroon                       332       332      332       76
...                            ...       ...      ...      ...
Syria                         2201      2201     2201      751
Taiwan                          50        50       50        2
Tajikistan                     188       188      188       12
Tanzania                        59        59       59        6
Thailand                      3849      3849     3849      925
Togo                            48        48       48        2
Trinidad and Tobago             22        22       22        5
Tunisia                        109       109      109       18
Turkey                        4292      4292     4292      489
Turkmenistan                     2         2        2        0
Uganda                         394       394      394       39
Ukraine                       1709      1709     1709      382
United Arab Emirates            22        22       22        3
United Kingdom                5235      5235     5235      398
United States                 2836      2836     2836      478
Uruguay                         82        82       82        6
Uzbekistan                      21        21       21        9
Vanuatu                          2         2        2        0
Vatican City                     1         1        1        0
Venezuela                      293       293      293       35
Vietnam                         12        12       12        0
Wallis and Futuna                1         1        1        0
West Bank and Gaza Strip      2227      2227     2227      104
West Germany (FRG)             541       541      541        3
Western Sahara                   5         5        5        0
Yemen                         3347      3347     3347      507
Yugoslavia                     203       203      203       10
Zaire                           50        50       50        3
Zambia                          62        62       62       13
Zimbabwe                       101       101      101        2

[205 rows x 134 columns]

In [50]:
terror_df

,eventid,iyear,imonth,iday,approxdate,extended,resolution,country,country_txt,region,...,addnotes,scite1,scite2,scite3,dbsource,INT_LOG,INT_IDEO,INT_MISC,INT_ANY,related
0,197000000001,1970,7,2,NaN,0,NaN,58,Dominican Republic,2,...,NaN,NaN,NaN,NaN,PGIS,0,0,0,0,NaN
1,197000000002,1970,0,0,NaN,0,NaN,130,Mexico,1,...,NaN,NaN,NaN,NaN,PGIS,0,1,1,1,NaN
2,197001000001,1970,1,0,NaN,0,NaN,160,Philippines,5,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
3,197001000002,1970,1,0,NaN,0,NaN,78,Greece,8,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
4,197001000003,1970,1,0,NaN,0,NaN,101,Japan,4,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
5,197001010002,1970,1,1,NaN,0,NaN,217,United States,1,...,"The Cairo Chief of Police, William Petersen, r...","""Police Chief Quits,"" Washington Post, January...","""Cairo Police Chief Quits; Decries Local 'Mili...","Christopher Hewitt, ""Political Violence and Te...",Hewitt Project,-9,-9,0,-9,NaN
6,197001020001,1970,1,2,NaN,0,NaN,218,Uruguay,3,...,NaN,NaN,NaN,NaN,PGIS,0,0,0,0,NaN
7,197001020002,1970,1,2,NaN,0,NaN,217,United States,1,...,"Damages were estimated to be between $20,000-$...",Committee on Government Operations United Stat...,"Christopher Hewitt, ""Political Violence and Te...",NaN,Hewitt Project,-9,-9,0,-9,NaN
8,197001020003,1970,1,2,NaN,0,NaN,217,United States,1,...,The New Years Gang issue a communiqué to a loc...,"Tom Bates, ""Rads: The 1970 Bombing of the Army...","David Newman, Sandra Sutherland, and Jon Stewa...","The Wisconsin Cartographers' Guild, ""Wisconsin...",Hewitt Project,0,0,0,0,NaN
9,197001030001,1970,1,3,NaN,0,NaN,217,United States,1,...,"Karl Armstrong's girlfriend, Lynn Schultz, dro...",Committee on Government Operations United Stat...,"Tom Bates, ""Rads: The 1970 Bombing of the Army...","David Newman, Sandra Sutherland, and Jon Stewa...",Hewitt Project,0,0,0,0,NaN
10,197001050001,1970,1,1,NaN,0,NaN,217,United States,1,...,NaN,NaN,NaN,NaN,PGIS,0,0,0,0,NaN
11,197001060001,1970,1,6,NaN,0,NaN,217,United States,1,...,NaN,Committee on Government Operations United Stat...,"Christopher Hewitt, ""Political Violence and Te...",NaN,Hewitt Project,-9,-9,0,-9,NaN
12,197001080001,1970,1,8,NaN,0,NaN,98,Italy,8,...,NaN,NaN,NaN,NaN,Hijacking DB,-9,-9,1,1,NaN
13,197001090001,1970,1,9,NaN,0,NaN,217,United States,1,...,NaN,Committee on Government Operations United Stat...,"Christopher Hewitt, ""Political Violence and Te...",NaN,Hewitt Project,-9,-9,0,-9,NaN
14,197001090002,1970,1,9,NaN,0,NaN,217,United States,1,...,The fire began at 8:30 PM. The Armed Commandos...,Committee on the Judiciary United States Sena...,"""No Evidence Of Arson Found In Barkers Fire,"" ...","""Toward People's War for Independence and Soci...",Hewitt Project,0,0,0,0,NaN
15,197001100001,1970,1,10,NaN,0,NaN,499,East Germany (GDR),9,...,NaN,NaN,NaN,NaN,PGIS,0,1,1,1,NaN
16,197001110001,1970,1,11,NaN,0,NaN,65,Ethiopia,11,...,NaN,NaN,NaN,NaN,PGIS,0,1,1,1,NaN
17,197001120001,1970,1,12,NaN,0,NaN,217,United States,1,...,"One half hour after the bomb explosion, an ano...","""Blast Damages Flatbush School,"" New York Time...","Linda Greenhouse, ""Madison School Puzzled By B...",Committee on Government Operations United Stat...,Hewitt Project,-9,-9,0,-9,NaN
18,197001120002,1970,1,12,NaN,0,NaN,217,United States,1,...,NaN,Committee on the Judiciary United States Sena...,"""Toward People's War for Independence and Soci...",NaN,Hewitt Project,-9,-9,0,-9,NaN
19,197001130001,1970,1,13,NaN,0,NaN,217,United States,1,...,The store was a White owned business operating...,Committee on Government Operations United Stat...,NaN,NaN,Hewitt Project,-9,-9,0,-9,NaN
20,197001140001,1970,1,14,NaN,0,NaN,217,United States,1,...,NaN,Committee on Government Operations United Stat...,"Christopher Hewitt, ""Political Violence and Te...","Peter F. Nardulli and Jeffrey M. Stonecash, ""P...",Hewitt Project,-9,-9,0,-9,NaN
21,197001150001,1970,1,15,NaN,0,NaN,218,Uruguay,3,...,NaN,NaN,NaN,NaN,PGIS,0,0,0,0,NaN
22,197001190002,1970,1,19,NaN,0,NaN,217,United States,1,...,Witnesses observed three African American male...,Committee on Government Operations United Stat...,"Christopher Hewitt, ""Political Violence and Te...","Seattle University, ""1965-1975: Troubled Times...",Hewitt Project,-9,-9,0,-9,NaN
23,197001190003,1970,1,19,NaN,0,NaN,217,United States,1,...,Judith and Silas Bissell were both members of ...,Committee on Government Operations United Stat...,"Christopher Hewitt, ""Political Violence and Te...","Earl Caldwell, ""Fear Grows In Seattle As Polic...",Hewitt Project,-9,-9,0,-9,NaN
24,197001190004,1970,1,19,"January 19-20, 1970",0,NaN,217,United States,1,...,The building might have been shot at a second ...,Committee on Government Operations United Stat...,"""Black Panthers Say Office Was Bombed,"" New Yo...","""30 Shots Fired Into Office of Panthers in Jer...",Hewitt Project,-9,-9,0,-9,NaN
25,197001200001,1970,1,20,NaN,0,NaN,83,Guatemala,2,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
26,197001210001,1970,1,21,NaN,0,NaN,160,Philippines,5,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
27,197001220001,1970,1,22,NaN,0,NaN,222,Venezuela,3,...,NaN,NaN,NaN,NaN,PGIS,0,0,0,0,NaN
28,197001220002,1970,1,22,NaN,0,NaN,217,United States,1,...,This attack might be linked with other episode...,Committee on Government Operations United Stat...,"""Beef Plant Workers in Nebraska Await Call to ...",NaN,Hewitt Project,-9,-9,0,-9,NaN
29,197001250001,1970,1,25,NaN,0,NaN,217,United States,1,...,"Police, at the time suspected, that this attac...","""Miss. City Is Desegregation Trouble Spot,"" Ch...",NaN,NaN,Hewitt Project,-9,-9,0,-9,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
181661,201712300019,2017,12,28,NaN,0,NaN,92,India,6,...,NaN,"""Two held over attacks on mosques in two Telug...","""AP: Muazzin assassinated in attack on masjid,...",NaN,START Primary Collection,-9,-9,0,-9,NaN
181662,201712300020,2017,12,30,NaN,0,NaN,160,Philippines,5,...,NaN,"""Philippines: Troops, NPA clash hours before s...","""Philippines: Highlights of Terrorist, Counter...",NaN,START Primary Collection,0,0,0,0,NaN
181663,201712300021,2017,12,30,NaN,0,NaN,92,India,6,...,NaN,"""Crude bomb explosion at two places in Kerala'...","""Bomb hurled at police station in Kannur,"" The...","""India:Crude bombs hurled at Koothuparamba pol...",START Primary Collection,-9,-9,0,-9,NaN
181664,201712300022,2017,12,30,NaN,0,NaN,603,United Kingdom,8,...,NaN,"""Four children terrified after witnessing 'bru...","""Police Appealing For Witnesses After Belfast ...",NaN,START Primary Collection,-9,-9,1,1,NaN
181665,201712300023,2017,12,30,NaN,0,NaN,92,India,6,...,NaN,"""Maoists set ablaze seven vehicles in Dantewad...","""Explosives recovered in Jharkhand, Maoists bu...",NaN,START Primary Collection,0,0,0,0,NaN
181666,201712300025,2017,12,30,NaN,0,NaN,147,Nigeria,11,...,NaN,"""Nigeria Scores Killed in Boko Haram Attacks i...",NaN,NaN,START Primary Collection,0,0,0,0,NaN
181667,201712300026,2017,12,30,NaN,0,NaN,200,Syria,10,...,NaN,"""Al-Qaida affiliates start new year with offen...","""Syrian army driven back in east Damascus in a...","""BBCM: Syria -- Fierce Fighting Continues Arou...",START Primary Collection,0,0,0,0,NaN
181668,201712310001,2017,12,31,2017-12-31 00:00:00,0,NaN,95,Iraq,10,...,NaN,"""Iraq: Security Roundup 1900 GMT 31 December 2...",NaN,NaN,START Primary Collection,-9,-9,0,-9,NaN
181669,201712310002,2017,12,30,NaN,0,NaN,95,Iraq,10,...,Casualty numbers conflict across sources. Foll...,"""Five civilians killed in two bomb attacks in ...","""Iraq: Security Roundup 1900 GMT 31 December 2...","""Iraq: Roundup of Violent Activities Targeting...",START Primary Collection,-9,-9,0,-9,"201712300005, 201712310002"
181670,201712310003,2017,12,31,2017-12-31 00:00:00,0,NaN,95,Iraq,10,...,NaN,"""Iraq: Security Roundup 1900 GMT 31 December 2...","""Terrorism: Roundup of Official ISIS Messages ...",NaN,START Primary Collection,0,1,0,1,NaN
181671,201712310004,2017,12,31,NaN,0,NaN,95,Iraq,10,...,Casualty numbers conflict across sources. Foll...,"""Islamic State attack leaves thirteen civilian...","""3 people killed in IS attack in central Iraq,...","""Daesh gunmen kill 3 in northern Iraq: Police,...",START Primary Collection,0,1,0,1,NaN
181672,201712310005,2017,12,31,NaN,0,NaN,92,India,6,...,"The victims included Kuldip Roy, Taufail Ahmed...","""Three soldiers killed in Indian-administered ...","""Fidayeen used armour-piercing bullets in Leth...","""Kashmir gunbattle ends after 16 hrs, body of ...",START Primary Collection,1,1,0,1,NaN
181673,201712310006,2017,12,31,NaN,0,NaN,4,Afghanistan,6,...,Casualty numbers conflict across sources. Foll...,"""Death toll from funeral blast in eastern Afgh...","""The Latest: Toll from Afghan funeral bombing ...","""Bombing Kills At Least 17 At Funeral In Easte...",START Primary Collection,0,1,0,1,NaN
181674,201712310007,2017,12,31,NaN,0,NaN,95,Iraq,10,...,NaN,"""Five IS militants killed as paramilitary troo...","""1,262 Killed in Iraq During December,"" Antiwa...",NaN,START Primary Collection,0,1,0,1,NaN
181675,201712310008,2017,12,31,NaN,0,NaN,182,Somalia,11,...,NaN,"""Somalia: Al-Shabab says 5 AU soldiers dead in...","""Somalia: Fifteen Police Officers Complete Tra...","""Two die in Mogadishu bomb attack,"" Xinhua Gen...",START Primary Collection,0,1,1,1,NaN
181676,201712310009,2017,12,31,NaN,0,NaN,4,Afghanistan,6,...,The victims included police commander Faqeer A...,"""Commander among 5 ALP members killed in Logar...","""Media Highlights on Afghanistan 1 January 201...",NaN,START Primary Collection,0,0,0,0,NaN
181677,201712310010,2017,12,31,NaN,0,NaN,160,Philippines,5,...,NaN,"""3 slain in Maguindanao roadside bombings,"" Ph...","""BIFF gunmen torch abandoned houses in Maguind...","""Philippines: Highlights of Terrorist, Counter...",START Primary Collection,0,0,0,0,NaN
181678,201712310011,2017,12,30,NaN,0,NaN,160,Philippines,5,...,"The victims included the owner, Norodin Pacaln...","""Cops hunt North Cotabato bombers,"" Philippine...","""Philippines: Highlights of Terrorist, Counter...",NaN,START Primary Collection,-9,-9,0,-9,NaN
181679,201712310012,2017,12,31,NaN,0,NaN,95,Iraq,10,...,NaN,"""13 IS militants killed in attack on paramilit...",NaN,NaN,START Primary Collection,0,1,0,1,NaN
181680,201712310013,2017,12,31,NaN,0,NaN,182,Somalia,11,...,NaN,"""Somalia's al-Shabab fires mortars at Ethiopia...","""Somalia: Al-Shabaab Militants Shell Ethiopian...",NaN,START Primary Collection,0,1,1,1,NaN
181681,201712310016,2017,12,31,NaN,0,NaN,160,Philippines,5,...,The victims included Senior Police Officer 4 M...,"""3 dead, scores injured in Mindanao blasts,"" M...","""Cop, 2 others killed in bomb blasts in Mindan...","""Cop killed, 7 injured in Maguindanao IED blas...",START Primary Collection,0,0,0,0,NaN
181682,201712310017,2017,12,31,NaN,0,NaN,98,Italy,8,...,NaN,"""Arson attack probed as racial crime,"" Ansa.it...","""Ascoli, a building destined for migrants goes...",NaN,START Primary Collection,-9,-9,0,-9,NaN
181683,201712310018,2017,12,31,NaN,0,NaN,4,Afghanistan,6,...,NaN,"""Six Members Of One Family Shot Dead In Faryab...","""Highlights: Pakistan Pashto Press 02 January ...",NaN,START Primary Collection,0,0,0,0,NaN
181684,201712310019,2017,12,31,NaN,0,NaN,92,India,6,...,NaN,"""Abducted PSO rescued within 11 hours,"" The Se...",NaN,NaN,START Primary Collection,0,0,0,0,NaN
181685,201712310020,2017,12,31,NaN,0,NaN,4,Afghanistan,6,...,NaN,"""4 people injured in Farayb explosion,"" Pajhwo...",NaN,NaN,START Primary Collection,-9,-9,0,-9,NaN
181686,201712310022,2017,12,31,NaN,0,NaN,182,Somalia,11,...,NaN,"""Somalia: Al-Shabaab Militants Attack Army Che...","""Highlights: Somalia Daily Media Highlights 2 ...","""Highlights: Somalia Daily Media Highlights 1 ...",START Primary Collection,0,0,0,0,NaN
181687,201712310029,2017,12,31,NaN,0,NaN,200,Syria,10,...,NaN,"""Putin's 'victory' in Syria has turned into a ...","""Two Russian soldiers killed at Hmeymim base i...","""Two Russian servicemen killed in Syria mortar...",START Primary Collection,-9,-9,1,1,NaN
181688,201712310030,2017,12,31,NaN,0,NaN,160,Philippines,5,...,NaN,"""Maguindanao clashes trap tribe members,"" Phil...",NaN,NaN,START Primary Collection,0,0,0,0,NaN
181689,201712310031,2017,12,31,NaN,0,NaN,92,India,6,...,NaN,"""Trader escapes grenade attack in Imphal,"" Bus...",NaN,NaN,START Primary Collection,-9,-9,0,-9,NaN
181690,201712310032,2017,12,31,NaN,0,NaN,160,Philippines,5,...,NaN,"""Security tightened in Cotabato following IED ...","""Security tightened in Cotabato City,"" Manila ...",NaN,START Primary Collection,-9,-9,0,-9,NaN