In [1]:
import sys
import pandas as pd
import pymongo
import json
import os
import pprint
from pandas.io.json import json_normalize
from sqlalchemy import create_engine

In [2]:
file = '4.1.gtd.csv'
terror_df = pd.read_csv(file, encoding = "ISO-8859-1")

terror_df.head()

,eventid,iyear,country_txt,region,region_txt,provstate,latitude,longitude,success,natlty1,natlty1_txt,gname,individual,nperps,nperpcap,nkill,nwound
0,1.997010e+11,1997,Nepal,6,South Asia,Central,27.493003,85.824033,1,141.0,Nepal,Unknown,0,300.0,NaN,5.0,2.0
1,1.997010e+11,1997,West Bank and Gaza Strip,10,Middle East & North Africa,West Bank,31.530243,35.094162,1,155.0,West Bank and Gaza Strip,Jewish Extremists,0,1.0,NaN,0.0,7.0
2,1.997010e+11,1997,United States,1,North America,Oklahoma,36.149745,-95.993334,1,217.0,United States,Anti-Abortion extremists,1,NaN,1.0,0.0,0.0
3,1.997010e+11,1997,United States,1,North America,Oklahoma,36.149745,-95.993334,1,217.0,United States,Anti-Abortion extremists,1,NaN,1.0,0.0,0.0
4,1.997010e+11,1997,United States,1,North America,Oklahoma,36.149745,-95.993334,1,217.0,United States,Anti-Abortion extremists,1,NaN,1.0,0.0,0.0